@model IEnumerable<WebStoreCoreApplication.ViewModels.BrandViewModel>
<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var prodbrand in Model)
            {
                <li>
                    <a href="#"> 
                    <span class="pull-right">(@prodbrand.ProdCount)</span>
                    @prodbrand.Name
                    </a>
                </li>}
        </ul>
    </div>
</div>