@model IEnumerable<WebStoreCoreApplication.ViewModels.EmployeeViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.SName</td>
                <td>@item.FName</td>
                <td>
                    @Html.ActionLink("Детали", "EmployeeDetails", new { id=item.Id})
                </td>
            </tr>
        }
    </table>
</body>
</html>
